---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../blog/*.{md,mdx}");

  return posts.map((post) => ({
    params: {
      id: post.frontmatter.id,
    },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<BlogPost content={{ SITE_TITLE, SITE_DESCRIPTION }}>
  <div class="mb-4">
    <img src={post.frontmatter.heroImage} alt="hero image" class="rounded-xl" />
  </div>
  <h1>{post.frontmatter.title}</h1>
  <p>{post.frontmatter.description}</p>
</BlogPost>
