---
export async function getStaticPaths() {
  const posts = await Astro.glob("../blog/*.{md,mdx}");

  return posts.map((post) => ({
    params: {
      id: post.frontmatter.id,
    },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<html>
  <head>
    <title>{post.frontmatter.title}</title>
  </head>
  <body>
    <h1>{post.frontmatter.title}</h1>
    <p>{post.frontmatter.description}</p>
  </body>
</html>
