---
import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import Body from "../../components/Body.astro";
import Content from "../../components/Content.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

export async function getStaticPaths() {
  const posts = await Astro.glob("../blog/*.{md,mdx}");

  return posts.map((post) => ({
    params: {
      id: post.frontmatter.id,
    },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="pt-[65px]">
      <Content>
        <h1>{post.frontmatter.title}</h1>
        <p>{post.frontmatter.description}</p>
      </Content>
    </main>
  </Body>

</html>
