---
const today = new Date();
---

<footer>
  <p class="text-zinc-600 text-xs text-center border border-1 border-red-500">
    &copy; {today.getFullYear()} Theoyoth. All rights reserved.
  </p>
</footer>
