---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="flex py-4 backdrop-blur-sm z-[10] fixed w-full border border-1 border-red-500"
>
  <div>
    <h2><a href="/">Theoyoth</a></h2>
  </div>
  <nav class="ml-20">
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>
