---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggleButton";
---

<header class="fixed p-3 backdrop-blur-md z-20 w-full">
  <div class="mx-auto max-w-3xl border border-1 border-white">
    <nav class="flex justify-between items-center">
      <div class="flex gap-6">
        <div class="px-6 py-2 border border-1 border-red-400">
          <a href="/">
            <h2 class="transition ease-in duration-100">Theoyoth</h2>
          </a>
        </div>
        <div>
          <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
      </div>
      <ThemeToggle client:visible />
    </nav>
  </div>
</header>
