---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="flex">
  <div>
    <h2>Theoyoth</h2>
  </div>
  <nav class="w-[120px] ml-20 flex justify-between">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>
