---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href } = Astro.props;
---

<a
  href={href}
  class="hover:bg-violet-500 py-2 px-6 rounded-md transition duration-200 ease-in-out"
>
  <slot />
</a>
