---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggleButton";
---

<header class="py-4 px-4 backdrop-blur-sm z-[10] fixed left-0 top-0 w-full">
  <div>
    <nav class="flex justify-between items-center">
      <div class="flex justify-between gap-6">
        <a href="/">
          <h2 class="transition ease-in duration-200">Theoyoth</h2>
        </a>
        <div>
          <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
      </div>
      <ThemeToggle client:visible />
    </nav>
  </div>
</header>
