---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggleButton.tsx";
---

<header
  class="flex py-4 px-4 backdrop-blur-sm z-[10] fixed left-0 top-0 w-full"
>
  <div>
    <h2
      class="underline underline-offset-4 hover:underline-offset-2 transition ease-in duration-200"
    >
      <a href="/">Theoyoth</a>
    </h2>
  </div>
  <nav class="ml-20">
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
  <ThemeToggle />
</header>
