<section class="relative mb-6">
  <div>
    <video
      class="absolute opacity-60 min-w-full min-h-full"
      src="/video.mp4"
      loop="loop"
      muted="muted"
      autoplay="autoplay"
      playsinline></video>
    <div class="z-10">
      <h1>Welcome to</h1>
    </div>
  </div>
</section>
