<section class="relative mb-3 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <video
      class="absolute inset-0 opacity-60 min-w-full min-h-full object-cover"
      src="/video.mp4"
      loop="loop"
      muted="muted"
      autoplay="autoplay"
      playsinline></video>
    <div class="z-10">
      <h1>Welcome to</h1>
    </div>
  </div>
</section>
